{% assign skills-side = site.data.data.sidebar.skills-side %}
{% if skills-side %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Skills
  </h2>

  <ul class="list-unstyled interests-list">
    {% for skills-side in skills-side %}

      {% if skills-side.link %}
      <li><a href="{{ skills-side.link }}">{{ skills-side.item }}</a></li>
      {% else %}
      <li>{{ skills-side.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//skills-side-->
{% endif %}
